.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input,
form input,
textarea,
form textarea
  padding-left: 10px
  padding-right: 10px
  line-height: 3em
  box-shadow: none
  border-radius: 4px
  border: solid 1px #aaa
  outline: none
  width: 100%

form textarea
  padding-top: 10px

input[type="submit"]
  width: auto

input[type="radio"]
  width: auto

  + label
    display: inline-block
    width: auto

select
  background-color: #fff
  width: 100%

.nf-field .field-wrap .nf-field-element select
  height: 3em

label
  display: block

// Widgets
#submit-search-form
  cursor: pointer

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 3em

.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 3em
