body
  font-size: 15px

  img
    max-width: 100%
    height: auto

  .page-content
    min-height: 75vh

// Wordpress default layout classes
img.alignright
  float: right
  margin: 10px 0 10px 10px
  display: inline-block

  @media screen and ( max-width: 992px )
    float: none
    margin: 10px

img.alignleft
  float: left
  margin: 10px 10px 10px 0
  display: inline-block

  @media screen and ( max-width: 992px )
    float: none
    margin: 10px

img.aligncenter
  display: block
  margin: 10px auto

.elementor-widget-accordion .elementor-accordion .elementor-accordion-title
  font-size: 1.45em

.divider
  &.xs
    height: 1em

  &.sm
    height: 3em

.remove-top-margin
  margin-top: 0
