body
  background: #efefef
  font-family: sans-serif

div.menu
  padding: 15px
  background: rgba( 0,0,0,0.2 )
  position: fixed
  z-index: 100
  width: 100vw
  top: 0px
  left: 0px

  .menu-logo-container
    display: inline-block

    img.menu-logo
      max-height: 30px

  .menu-items-container
    display: inline-block
    vertical-align: top
    float: right

  ul.menu-items
    margin: 0

    li.menu-item
      list-style: none
      display: inline-block

      a
        text-decoration: none
        display: inline-block
        margin: 0 5px
        line-height: 34px
        text-transform: uppercase
        color: #222
