.main-menu
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), 0 2px 7px rgba(0, 0, 0, 0.23)
  position: relative
  z-index: 9

  .navigation-links
    position: inherit

  .content
    &:before
      content: ""
      height: 100%
      width: 100%
      // Menu background color
      background: linear-gradient(0deg,#303c42 0%,#37424b 100%)
      display: inline-block
      position: absolute
      top: 0px
      left: 0px
      z-index: -1

  ul.menu
    > li.menu-item
      > ul.sub-menu
        position: absolute
        background: #455a64
        backface-visibility: hidden
        transition: top 0.3s ease-in, opacity 0.5s ease
        visibility: hidden
        min-width: 290px
        padding: 10px
        top: calc(100% - 4px)
        border-radius: 2px
        transform: translate(-50%) scale(0.92)
        transition: none
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), 0 2px 7px rgba(0, 0, 0, 0.23)

        &:before
          content: ""
          display: block
          width: 10px
          height: 10px
          background: linear-gradient(135deg, #455a64 50%, transparent 50%)
          position: absolute
          top: -5px
          left: calc(50% - 5px)
          transform: rotate(45deg)

        li
          display: block

          a
            line-height: 1.5em
            display: block
            text-align: left
            padding: 10px
            border-radius: 2px
            font-size: 0.85em

            span
              display: block
              text-transform: none
              font-style: italic
              font-size: 10px
              opacity: 0.6

        &.active
          transform: translate(-50%) scale(1)
          transition: all 0.1s linear
          opacity: 1
          display: inline-block
          visibility: visible

  .navigation-logo

    .menu-logo
      max-height: 66px
      padding-top: 8px
      padding-bottom: 8px

    @media screen and ( max-width: 992px )
      text-align: center

      .menu-logo
        max-height: 66px

  .main-menu-items
    text-align: center

    ul
      padding-left: 0px
      margin-left: 0px
      margin-bottom: 0
      display: inline-block

      li
        list-style: none
        display: inline-block

    a
      text-decoration: none
      color: $white
      line-height: 66px
      text-transform: uppercase
      font-size: 0.8em
      letter-spacing: 0.75px
      font-weight: 300
      padding: 0 12px
      transition: background 0.3s ease
      display: inline-block

      &:hover
        background: rgba(0,0,0,0.1)

  .mobile-menu-toggle
    font-size: 1em
    color: $white
    line-height: 66px
    cursor: pointer

  .navigation-tools
    a
      padding: 0 5px
      text-decoration: none

      span
        line-height: 65px
        color: $white

      &.navigation-cart
        font-size: 1.25em

    span
      text-transform: uppercase
      font-size: 0.85em
      letter-spacing: 0.75px
      font-weight: 300
      display: inline-block

    @media screen and ( max-width: 992px )
      line-height: 66px
