.main-menu
  padding: 8px 0
  font-size: 0.88em

  .content
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    padding: 0 15px
    max-width: 1150px
    margin: 0 auto

    .logo
      flex-grow: 1

      img
        max-height: 68px

    .links
      flex-grow: 6

      ul.menu
        display: flex
        padding: 0
        margin: 0
        list-style: none
        justify-content: center

        > li.menu-item
          padding: 10px

          > a
            text-decoration: none
            opacity: 1
            transition: opacity 0.2s ease

            &:hover
              text-decoration: none
              opacity: 0.8

        li > a
          letter-spacing: 0.07em
          text-transform: uppercase

        ul.sub-menu
          display: none

    .tools
      flex-grow: 1
      text-align: right

      a
        padding-left: 8px
        letter-spacing: 0.07em
        text-transform: uppercase
        opacity: 1
        transition: opacity 0.2s ease

      a:hover
        text-decoration: none
        opacity: 0.8

  &.color-scheme-light
    background-color: $light-menu-color

    a, span
      color: $text-dark

  &.color-scheme-dark
    background-color: $dark-menu-color

    a, span
      color: $text-light
