.blog,
.archive:not(.woocommerce),
.search
  .page-content
    margin-top: 2em
    margin-bottom: 2em

    .posts-collection
      .post
        margin-bottom: 5vw

        img
          border-radius: 3px

.single
  .post-header
    padding: 0
    background-size: cover
    background-position: 50% 50%
    margin-bottom: 15px

    .content
      padding-top: 15vw
      padding-bottom: 5vw

      h2
        color: #fff
        font-size: 2.75em

      h5
        color: #fff
        font-size: 1.5em

  .post-comments
    .comments-area
      margin-top: 5vw

    ol.comment-list
      list-style: none
      padding-left: 0

      .comment
        margin-bottom: 3vw

      ul.children
        list-style: none

    .comment-respond
      margin-bottom: 3vw

  .page-content
    margin-top: 15px
    margin-bottom: 15px
