#review_form
  margin-top: 15px

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 36px

.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 36px

.woocommerce ul.order_details
  padding-left: 0px

.woocommerce table.shop_table .woocommerce-cart-form__cart-item td
  padding: 1.5em 12px

.woocommerce-cart table.cart td.actions .coupon .input-text
  width: 50%

.woocommerce-checkout
  .page-content
    padding-bottom: 100px

.woocommerce

  .woocommerce-additional-fields
    margin-top: 3em

  div.product
    form.cart
      .button
        float: right

  .product_meta
    font-size: 0.85em

    > span
      display: block

  &.single-product
    .quantity
      label
        float: left
        font-weight: 700
        font-size: 20px
        line-height: 38px
        margin-right: 2em

        @media screen and ( max-width: 1200px )
          margin-right: 1em

    input[type="number"]
      float: left
      // padding: 17px 12px

  td.label
    font-size: 1.25em
    color: $text-content-color
    vertical-align: middle

  .variations
    margin-top: 15px

  .woocommerce-MyAccount-navigation
    ul
      list-style: none
      margin-left: 0px
      padding-left: 0px

      li
        list-style: none

        a
          color: $text-content-color
          font-size: 1.25em
          line-height: 1.5em
          opacity: 0.8
          text-decoration: none

        &.is-active
          a
            opacity: 1

            &:before
              display: inline-block
              content: "\e080"
              font-family: 'Glyphicons Halflings'
              margin-right: 5px
              font-size: 15px

  .woocommerce-cart-form
    margin-top: 18px

  .woocommerce-breadcrumb
    margin-top: 2em

  .cart-collaterals .cart_totals,
  .woocommerce-page .cart-collaterals .cart_totals
    float: none
    width: auto

div.woocommerce
  margin-top: 40px
