.woocommerce-checkout
  .page-content
    background: linear-gradient(90deg, #fff 50%, #F2F3F8 50%)

    .woocommerce
      margin-top: 0

      .woocommerce-checkout-review-order
        .woocommerce-checkout-review-order-table
          background: #fefefe

          td:first-child
            width: 60%

      #add_payment_method #payment,
      .woocommerce-cart #payment,
      .woocommerce-checkout #payment
        background: #fefefe

      .woocommerce-checkout-form-column.col-sm-6
        &:first-child
          padding-right: 5vw

        &:last-child
          padding-left: 5vw

      .col2-set .col-1,
      .col2-set .col-2
        float: none
        width: auto


.page-content
  .woocommerce
    margin-top: 2vw
    margin-bottom: 10vw

.woocommerce
  .woocommerce-tabs.wc-tabs-wrapper
    margin-bottom: 60px

  table.variations
    border-collapse: separate
    border-spacing: 0px 10px

  div.product
    form.cart
      .variations
        margin-top: 15px

        label
          font-size: 2em
          vertical-align: text-top

        select
          background-color: #fff
          height: 34px
          width: 100%

  .page-content
    margin-top: 15px
    margin-bottom: 15px

  span.onsale
    border-radius: 0
    top: 0
    left: 0

  ul.products
    li.product
      img
        border: solid 1px #aaa

      .onsale
        border-radius: 0
        top: 0
        right: 0
        padding: 0 5px
        margin: 0

.empty-cart-container
  padding-top: 5vw
  padding-bottom: 25vw
  text-align: center

.variations
  label
    color: #999

.woocommerce-checkout
  .page-content
    padding-top: 3vw
    padding-bottom: 2vw
