$dark-gray: #3C342F
$light-gray: #efefef
$text-dark: #303c42
$text-light: #efefef
$white: #fff
$black: #000

$light-menu-color: #efefef
$dark-menu-color: #303c42

$text-heading-color: #333
$text-content-color: #444

$mobile: 992px

@import "global"
@import "footer"
@import "forms"
@import "navigation"
@import "mobile-navigation"
@import "widgets"
@import "woocommerce"
@import "posts"
